*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#050814;
color:white;
overflow-x:hidden;
}

/* STARS BACKGROUND */
.stars{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(circle,rgba(0,255,255,0.08),transparent 60%);
animation:float 12s infinite alternate;
pointer-events:none;
}

@keyframes float{
0%{transform:translateX(-40px);}
100%{transform:translateX(40px);}
}

/* SIDEBAR */
.sidebar{
position:fixed;
top:0;
left:0;
width:240px;
height:100vh;
background:#0a0f1f;
border-right:2px solid #00e5ff;
padding:25px;
}

.logo{
color:#00e5ff;
font-size:1.6rem;
text-align:center;
margin-bottom:40px;
text-shadow:0 0 15px #00e5ff;
}

.sidebar ul{
list-style:none;
}

.sidebar ul li{
margin:15px 0;
}

.sidebar ul li a{
color:white;
text-decoration:none;
padding:12px;
display:block;
border-radius:10px;
transition:.3s;
}

.sidebar ul li a:hover{
background:#00e5ff;
color:black;
transform:translateX(10px);
}

/* MAIN */
.main-content{
margin-left:240px;
}

/* HERO */
.hero{
height:80vh;
background:
linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.9)),
url("images/scifi-banner.jpg");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.hero h1{
font-size:4rem;
color:#00e5ff;
text-shadow:0 0 20px #00e5ff;
}

.hero p{
color:#ccc;
margin-top:15px;
}

/* STATS */
.stats{
display:flex;
justify-content:space-around;
padding:40px;
background:#0a0f1f;
}

.stat-box{
border:1px solid #00e5ff;
padding:20px;
text-align:center;
width:30%;
border-radius:12px;
transition:.3s;
}

.stat-box:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #00e5ff;
}

.stat-box h2{
color:#00e5ff;
}

/* MOVIES */
.movies{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
padding:40px;
}

.movie-card{
background:#0f1a33;
border-radius:12px;
overflow:hidden;
transition:.4s;
border:1px solid #1f2d55;
}

.movie-card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #00e5ff;
}

.movie-card img{
width:100%;
height:300px;
object-fit:cover;
}

.movie-card h3{
padding:12px;
text-align:center;
}

/* TRAILER */
.trailer{
padding:60px 40px;
text-align:center;
}

.trailer h2{
color:#00e5ff;
margin-bottom:20px;
}

.video-box video{
width:100%;
max-width:900px;
border-radius:15px;
box-shadow:0 0 30px #00e5ff;
}

/* STORIES */
.stories{
padding:60px 40px;
}

.stories h2{
text-align:center;
color:#00e5ff;
margin-bottom:30px;
}

.story{
background:#0f1a33;
padding:20px;
margin-bottom:20px;
border-left:4px solid #00e5ff;
transition:.3s;
}

.story:hover{
transform:translateX(10px);
}

/* QUOTE */
.quote{
padding:60px;
text-align:center;
font-style:italic;
color:#bbb;
}

/* MOBILE */
@media(max-width:768px){

.sidebar{
width:100%;
height:auto;
position:relative;
border-right:none;
border-bottom:2px solid #00e5ff;
}

.mobile-2{
display:flex;
gap: 7px;
}

.main-content{
margin-left:0;
}

.stats{
flex-direction:column;
gap:20px;
}

.stat-box{
width:100%;
}

.hero h1{
font-size:2.5rem;
}


}